table.default tr td {
  vertical-align: top;
}
section#luna-data-filters div#luna-newfilter {
  border: 1px solid #a5adb2;
  background-color: #e1e4e5;
  padding: 5px;
}
section#luna-data-filters div#luna-applied-filters {
  border: 1px solid #a5adb2;
  margin-bottom: 10px;
  padding: 10px;
}
section#luna-data-filters div#luna-applied-filters span.luna-filter {
  border: 1px solid #a5adb2;
  background-color: #e1e4e5;
  margin-right: 5px;
  padding: 5px;
}
